<footer id="mk-footer" class="site-footer" role="contentinfo">
  <div class="wrapper">
    <div class="mk-padding-wrapper">
      <div class="mk-col-1-4" style="">
        <section id="text-2" class="widget widget_text mk-in-viewport">
          <div class="textwidget">
            <p><a href="{{ '/index.html' | relative_url }}">
                <img class="lazyload"
                  data-src="https://cdn.shopify.com/s/files/1/0073/8623/4950/t/4/assets/logo.png?9686438060402706511"
                  alt="EchoStreams" style=" max-height: 65px; "><br>
              </a></p>
            <p><strong><a href="mailto:sales@echostreams.com">sales@echostreams.com</a></strong></p>
            <p><strong>Tel: </strong><br>
              <a href="tel:1-888-686-3246">888-686-ECHO</a><br>
              <a href="tel:1-626-363-9211">(626) 363-9211</a>
            </p>

            <p>&copy;{{ 'now' | date: '%Y' }} EchoStreams All Rights Reserved</p>
          </div>
        </section>
      </div>

      <div class="col-5">
        <section id="nav_menu-2" class="widget widget_nav_menu mk-in-viewport">
          <div class="widgettitle">Products</div>
          <div class="menu-footer-menu-1-container">

            <div>
              <ul class="menu col-5">
                <li style="text-decoration: underline;">Intel</li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50"><a
                    title="Flash Storage Servers"
                    href="{{ '/flachestreams-products-intel-processor.html' | relative_url }}">Flash Storage Servers
                  </a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50"><a
                    title="General Purpose Servers"
                    href="{{ '/durastreams-products-intel-xeon-scalable-processor.html' | relative_url }}">High
                    Availability Servers</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50"><a
                    title="High Density Servers"
                    href="{{ '/scalestreams-products-intel-scalable-processor.html' | relative_url }}">High Density
                    Servers </a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50"><a
                    title="High Density Servers"
                    href="{{ '/omnistreams-general-purpose-servers.html' | relative_url }}">General Purpose Servers </a>
                </li>
                <br>
                <a style=" text-decoration: underline;" title="High Density Servers"
                  href="{{ '/jbods.html' | relative_url }}">Just a Bunch of Disks</a>
              </ul>

            </div>
            <div>
              <ul class="menu col-5">
                <li style="text-decoration: underline;">AMD</li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50"><a
                    title="Flash Storage Servers"
                    href="{{ '/flachestreams-products-amd-epyc-processor.html' | relative_url }}">Flash Storage Servers
                  </a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50"><a
                    title="General Purpose Servers"
                    href="{{ '/durastreams-products-amd-epyc-processor.html' | relative_url }}">High Availability
                    Servers </a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50"><a
                    title="High Density Servers"
                    href="{{ '/scalestreams-high-density-servers.html' | relative_url }}">High Density Servers </a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50"><a
                    title="High Density Servers"
                    href="{{ '/gridstreams-high-performance-computing-server.html' | relative_url }}">HPC GPU
                    Servers</a></li>
              </ul>
            </div>

          </div>
        </section>
      </div>

      <div class="mk-col-1-4">
        <section id="nav_menu-5" class="widget widget_nav_menu mk-in-viewport">
          <section id="nav_menu-3" class="widget widget_nav_menu mk-in-viewport">
            <div class="widgettitle">Company </div>
            <div class="menu-footer-menu-2-container">
              <ul id="menu-footer-menu-2" class="menu">
                <li id="menu-item-951" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-951"><a
                    href="{{ '/company.html' | relative_url }}">About Us</a></li>
              </ul>
            </div>
          </section>

          <div class="widgettitle">Partnerships</div>
          <div class="menu-footer-menu-4-container">
            <ul id="menu-footer-menu-4" class="menu">
              
              <li id="menu-item-1021" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1021"><a
                  href="http://premioinc.com/">Premio Inc.</a></li>
            </ul>
          </div>
        </section>
      </div>

    </div>

    <button type="button" id="hs_show_banner_button" style="background-color: #425b76; border: 1px solid #425b76;
         border-radius: 3px; padding: 10px 16px; text-decoration: none; color: #fff;
         font-family: inherit; font-size: inherit; font-weight: normal; line-height: inherit;
         text-align: left; text-shadow: none;" onClick="(function(){
    var _hsp = window._hsp = window._hsp || [];
    _hsp.push(['showBanner']);
  })()">
      Cookie Settings
    </button>
</footer>